<header class="navbar navbar-expand custHead mb-2 shadow">
  <a class="navbar-brand" href="/">
    <img src="https://static.nfl.com/static/content/public/static/wildcat/assets/img/application-shell/shield/default.svg" style="width: 50px">
    <span class="text-light pl-2" id="headText">Fantasy Football</span>
  </a>
  <%_ if (user) { -%>
    <ul class="list-inline ml-auto">
      <li class="list-inline-item"><p class="text-light">Hello, <%= user._id -%>!</p></li>
      <li class="list-inline-item"><a class="btn btn-outline-light" href="/logout">Logout</a></li>
    </ul>
  <%_ } -%>
</header>
