<head>
  <meta charset="utf-8">
  <title>Fantasy Football</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

    .custHead{
        background-color: rgb(1, 51, 105);
    }
    #headText{
      /* font-family: 'Frijole', cursive; */
      font-family: 'Audiowide', cursive;
      font-size: 28px;
    }
    .whiteSVG{
      filter: invert(100%);
    }
  </style>
</head>
