<header class="navbar navbar-expand custHead mb-2 shadow">
  <a class="navbar-brand" href="/">
    <img src="https://static.nfl.com/static/content/public/static/wildcat/assets/img/application-shell/shield/default.svg" style="width: 50px">
    <span class="text-light pl-2" id="headText">Fantasy Football</span>
  </a>
</header>
