<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <body>
    <%_ if (!user) { -%>
      <%- include('./login'); -%>
    <%_ } else { -%>
      <main>
      <h2 class="">Welcome To Your Fantasy Football League!</h2>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Fantasy News</h4>

          <div class="article-container  col-12"><div class="no-gutters row"><div style="background-image:url(https://imagecomposer.nfl.com/?l=http://static.nfl.com/static/content/public/photo/2020/04/24/0ap3000001111187.jpg&amp;c=85&amp;w=980)" class="image  col"></div></div><div class="content no-gutters row"><div class="col"><div class="no-gutters row"><div class="title col-12"><span class="wrapper">2020 NFL Draft Fantasy Football Impact Log</span>
          </div></div>
          <div class="row"><div class="summary col-12">
            <span class="wrapper">The NFL Draft is officially here and that means new names for fantasy football. Marcas Grant is keeping track of 2020's impact newcomers and what they could mean for your fantasy drafts.</span>
          </div></div></div></div>
          <span class="slideout"></span></div>
          <h6> For more fantasy news check out
            <a href="https://fantasy.nfl.com/">Click Here</a>
          </h6>

<!--
<a href="http://www.nfl.com/fantasyfootball/story/0ap3000001110849/article/2020-nfl-draft-fantasy-football-impact-log">
2020 NFL Draft fantasy football impact log</a>
<div class="article-container  col-12"><div class="no-gutters row"><div style="background-image:url(https://imagecomposer.nfl.com/?l=http://static.nfl.com/static/content/public/photo/2020/04/24/0ap3000001111187.jpg&amp;c=85&amp;w=980)" class="image  col"></div></div><div class="content no-gutters row"><div class="col"><div class="no-gutters row"><div class="title col-12"><span class="wrapper">2020 NFL Draft Fantasy Football Impact Log</span></div></div><div class="row"><div class="summary col-12"><span class="wrapper">The NFL Draft is officially here and that means new names for fantasy football. Marcas Grant is keeping track of 2020's impact newcomers and what they could mean for your fantasy drafts.</span></div></div></div></div><span class="slideout"></span></div>
<div style="background-image:url(https://imagecomposer.nfl.com/?l=http://static.nfl.com/static/content/public/photo/2020/04/24/0ap3000001111187.jpg&amp;c=85&amp;w=980)" class="image  col">
Here </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create A New Team!</h5>
              <p class="card-text">Create a new fantasy team</p>
              <a href="/teams/new" class="btn btn-primary">Start New Team</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Check Overall League Scores</h5>
              <p class="card-text">View every team's scores for the current week</p>
              <a href="/teams/scores" class="btn btn-primary">View Scores</a>
            </div>
          </div>
        </div>
-->
        </div>
      </div>
    </main>

    <%_ } -%>
  </body>
</html>
