<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <body>
    <%_ if (!user) { -%>
      <%- include('./login'); -%>
    <%_ } else { -%>
      <main>
      <h2 class="">Welcome To Your Fantasy Football League!</h2>
      <div class="card">
        <div class="card-body">
        <h4 class="card-title">Fantasy News</h4>
          <div class="article-container  col-12">
            <div class="col">
              <div class="row">
                <div class="title col-12">
                  <a href="http://www.nfl.com/fantasyfootball/story/0ap3000001110849/article/2020-nfl-draft-fantasy-football-impact-log">
                    <h6>2020 NFL Draft fantasy football impact log</h6>
                    <img src="http://static.nfl.com/static/content/public/photo/2020/04/24/0ap3000001111187.jpg" width="480">
                  </a>
                </div>
              </div>
          <div class="row">
            <div class="summary col-12">
              <p class="wrapper">The NFL Draft is officially here and that means new names for fantasy football. Marcas Grant is keeping track of 2020's impact newcomers and what they could mean for your fantasy drafts.
              </p>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="title col-12">
              <img src="http://static.nfl.com/static/content/public/photo/2020/04/03/0ap3000001108323.jpg" width="480">
              <a class="wrapper" href="http://www.nfl.com/fantasyfootball/story/0ap3000001108316/article/michael-fabiano-top-fantasy-rookies-predraft">
                <h6>Michael Fabiano's top fantasy rookies</h6>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="summary col-12">
              <p class="wrapper">Michael Fabiano looks at the top fantasy rookies to watch at quarterback, running back, wide receiver and tight end heading into the 2020 NFL Draft.
              </p>
            </div>
          </div>
        </div>
        <h6>For more fantasy news check out: </h6>
          <a href="https://fantasy.nfl.com/">
            <button>Fantasy News</button>
          </a>
        </div>
      </div>
    </main>
  </body>
<%_ } -%>
</html>
