<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <body>
    <div class="card m-3">
    <div class="card m-3">
      <div class="card-header bg-secondary text-light">Please Sign In</div>
    </div>
    <h6 id="username">Username</h6>
    <input type="text" id="username" class="ml-4">
    <h6 id="password">Password</h6>
    <input type="text" id="password" class="ml-4">
    <button type="submit" id="login" class="btn btn-info btn-block">Sign in</button>
    </div>
    <%_ if (!users) { -%>
      <%= console.log("something"); -%>
      <form>
        <input type="text" name="id" id="id">
        <button id="Login">Login</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script> // Log in
        $('#login').on('click', function(event) {
          const form = $('#id');
          event.preventDefault();
          console.log("test");
          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.reload())
            .fail(error => alert('Could not log in.'));
        })
      </script>
    <%_ } else { -%>
      <p>Hello, <%= users.name -%>!</p>
      <a href="/logout">Logout</a>
    <%_ } -%>
  </body>
</html>
