<!DOCTYPE html>
<html>
  <%- include('./navs'); -%>
  <header class="navbar navbar-expand custHead mb-2 shadow">
    <a class="navbar-brand" href="/">
      <img src="https://static.nfl.com/static/content/public/static/wildcat/assets/img/application-shell/shield/default.svg" style="width: 50px">
      <span class="text-light pl-2" id="headText">Fantasy Football</span>
    </a>
  </header>

  <body>
    <div class="card m-3"
    <div class="card m-3">
      <div class="card-header bg-secondary text-light">Please Sign In</div>
    </div>
    <h6 id="username">Username</h6>
    <input type="text" id="username" class="ml-4">
    <h6 id="password">Password</h6>
    <input type="text" id="password" class="ml-4">
    <button type="submit" id="login" class="btn btn-info btn-block">Sign in</button>
    </div>
  </body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $('#login').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/login', data: form.serialize()})
      .done(id => window.location.replace('/admin'))
      .fail(error => alert("could not login"));
  });
  </script>

</html>
