<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <body>
    <%_ if (!user) { -%>
  <div class="card m-3">
    <div class="card-header bg-secondary text-light">Please Sign In</div>
      <form id="login">
        <h6 class="pl-2 pt-1">Username</h6>
        <input type="text" name="_id" class="ml-4">
        <button type="submit" class="btn btn-info p-2">Sign In</button>
      </form>
      <form id="signup">
        <button type="submit" class="btn btn-info btn-block">Create An Account</button>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script> // Log in
      $('#login').on('submit', function(event) {
        const form = $(this);
        event.preventDefault();
        console.log("test");
        $.ajax({method: 'post', url: '/login', data: form.serialize()})
          .done(() => window.location.reload())
          .fail(error => alert('Could not log in.'));
      })
    </script>
    <%_ } else { -%>
      <head> <a href="/logout">Logout</a> </head>
      <p>Hello, <%= user._id -%>!</p>

      <main>
      <h2 class="">Welcome To The Fantasy Football League!</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create A New Team!</h5>
              <p class="card-text">Create a new fantasy team</p>
              <a href="/teams/new" class="btn btn-primary">Start New Team</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Check Overall League Scores</h5>
              <p class="card-text">View every team's scores for the current week</p>
              <a href="/teams/scores" class="btn btn-primary">View Scores</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%_ } -%>
  </body>
</html>
