<!DOCTYPE html>
<html>
  <%- include('./navs'); -%>
            <h2>League Scores</h2>
            <div class="row">
              <div class="col">
                <ul>
                  <%_ for (const team of teams) { -%>
                    <li><%= team.name-%></li>
                  <%_ } -%>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <%_ for (const team of teams) { -%>
                    <li><%= team.score-%></li>
                  <%_ } -%>
                </ul>
              </div>

            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script>
              $('.active').removeClass('active');
              $('#leagueScores').addClass('active');
            </script>

</html>
