<body>
<div class="card m-3" id="new">
  <div id="hold">
  <div class="card-header bg-secondary text-light">Please Sign In</div>
  <form id="login">
    <h5 class="pl-2 pt-1">Username</h5>
    <input type="text" name="_id" class="ml-4">
    <button type="submit" id="log" class="btn btn-primary">Sign In</button>
    <button type="submit" id="sign" class="btn btn-primary">Create An Account</button>
  </form>
  </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $('#login').on('#log', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/login', data: form.serialize()})
      .done(() => window.location.reload())
      .fail(error => alert('Could not log in.'));
  });
</script>
<script>
  $('#login').on('#sign', function(event){
      event.preventDefault();
      const form = $(this);
      $.ajax({method: 'post', url: '/users', data: form.serialize()})
        .done(() => window.location.replace('/'))
        .fail(error => alert(error.responseText));
  });
</script>
