
<body>
<div class="card m-3" id="ln">
<div class="card-header bg-secondary text-light">Please Sign In</div>
  <form id="login">
    <h6 class="pl-2 pt-1">Username</h6>
    <input type="text" name="_id" class="ml-4">
    <button type="submit" class="btn btn-info p-2">Sign In</button>
  </form>
  <form id="sign">
    <button type="submit" id="s" class="btn btn-info mt-2 btn-block">Create An Account</button>
  </form>
  </div>
</div>
<div id="new">

</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $('#login').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/login', data: form.serialize()})
      .done(() => window.location.reload())
      .fail(error => alert('Could not log in.'));
  });
</script>
<script>
  $('#sign').on('submit', function(event){
    event.preventDefault();
    $('#ln').remove();
    $('#new').append($(`<div class="card">
      <div class="card m-3">
        <form id="user">
        <h2>Create an Account</h2>
        <div class="card-body">
          <h5 class="card-title">Enter Your New Username</h5>
          <input type="text" class="pr-3" name="_id">
          <button class="btn btn-primary ml-2">Sign Up</button>
        </div>
      </form>
    </div>`));
  });

  $('#user').on('submit', function(event){
      event.preventDefault();
      const form = $(this);
      $.ajax({method: 'post', url: '/login/new', data: form.serialize()})
        .done(() => window.location.replace('/teams/new'))
        .fail(error => alert(error.responseText));
  });
</script>
