<body>
<div class="card m-3" id="new">
  <div id="hold">
  <div class="card-header bg-secondary text-light">Please Sign In</div>
  <form id="login">
    <h5 class="pl-2 pt-1">Username</h5>
    <input type="text" name="_id" class="ml-4">
    <button type="submit" id="log" class="btn btn-primary">Sign In</button>
    <button type="submit" id="sign" class="btn btn-primary">Create An Account</button>
  </form>
  </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $('#login').on('submit', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'post', url: '/login', data: form.serialize()})
      .done(() => window.location.reload())
      .fail(error => alert('Could not log in.'));
  });
</script>
<script>
  $('#sign').on('click', function(event){
    event.preventDefault();
    $('#hold').remove();
    $('#new').append($(`
        <form id="user">
        <div class="card-header bg-secondary text-light">Please Sign Up</div>
        <div class="card-body">
          <h5 class="card-title">Enter Your New Username</h5>
          <input type="text" class="pr-3" name="_id">
          <button class="btn btn-primary ml-2">Create Account</button>
        </div>
      </form>`));

    $('#user').on('submit', function(event){
        event.preventDefault();
        const form = $(this);
        $.ajax({method: 'post', url: '/users', data: form.serialize()})
          .fail(error => alert('Username already in use.'), window.location.reload())

          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.replace('/'))
            .fail(error => alert('Could not log in.'));
    });
  });
</script>
