<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <h2>Team Management</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your Teams</h5>
      </div>
    </div>
    <%_ } -%> <!-- for login.ejs -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script>
      $('.active').removeClass('active');
      $('#myTeam').addClass('active');

    </script>
  </main>
  </body>
</html>
