
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <form id="manage">
    <h2>Team Management</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your Teams</h5>
      </div>
      <button id="submit">Delete</button>
    </div>
  </form>
    <%_ } -%> <!-- for login.ejs -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script>
      $('.active').removeClass('active');
      $('#myTeams').addClass('active');

    </script>
    <script>
    $('#manage').on('submit', function(event){
      const form = $(this);
      $.ajax({method: 'post', url: '/teams/scores', data: `score=${total}`})
        .done(() => window.location.replace('/teams/scores'))
        .fail(cerror => alert(error.responseText));
    });

    $('#manage').on('submit', function(event){
      const form = $(this);
      $.ajax({method: 'delete', url: '/teams', data: form.serialize()})
        .done(() => window.location.reload())
        .fail(cerror => alert(error.responseText));
    });
    </script>
    </main>
  </body>
</html>
