<head>
  <meta charset="utf-8">
  <title>Fantasy Football</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

    .custHead{
        background-color: rgb(1, 51, 105);
    }
    #headText{
      /* font-family: 'Frijole', cursive; */
      font-family: 'Audiowide', cursive;
      font-size: 28px;
    }
    .whiteSVG{
      filter: invert(100%);
    }
  </style>
</head>

<body>

    <div class="container-fluid">
      <div class="row pl-3">
        <nav class="col-auto nav nav-pills flex-column bg-light">
          <a href="/" class="nav-item nav-link mt-2 active" id="home">Home</a>
          <a href="/teams/new" class="nav-item nav-link" id="newTeam">Start New Team</a>
          <a href="/teams/manage" class="nav-item nav-link" id="myTeams">My Teams</a>
          <a href="/teams" class="nav-item nav-link" id="teamScore">Team Score</a>
          <a href="/teams/scores" class="nav-item nav-link" id="leagueScores">League Scores</a>
        </nav>
        <main class="col border-left border-dark">
