

<body>

    <div class="container-fluid">
      <div class="row pl-3">
        <nav class="col-auto nav nav-pills flex-column bg-light">
          <a href="/" class="nav-item nav-link mt-2 active" id="home">Home</a>
          <a href="/teams/new" class="nav-item nav-link" id="newTeam">Start New Team</a>
          <a href="/teams/manage" class="nav-item nav-link" id="myTeams">My Teams</a>
          <a href="/teams/scores" class="nav-item nav-link" id="leagueScores">League Scores</a>
        </nav>
        <main class="col border-left border-dark">
