<!DOCTYPE html>
<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <h2>Team Management</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create A New Team</h5>
        <p class="card-text">Want to join the league? Awesome! Get started by entering your team name below</p>
        <input type="text" class="pr-3" id="teamName" name="id" value="">
        <button id="create" class="btn btn-primary ml-2">Create Your Team</button>
      </div>
    </div>
    <%_ } -%>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script>
      $('.active').removeClass('active');
      $('#newTeam').addClass('active');
    </script>
    <script>

      $('#create').on('click', function(event){
        event.preventDefault();
        const form = $('#teamName');
        const teamName = form.serialize();
        $('#teamName').val('');
        $.ajax({method: 'post', url: '/teams/new', data: `${teamName}&score=0`})
          .done(id => window.location.replace(`/courses/${id}`));
          .fail(error => alert(error.responseText));
      });

      
    </script>
</html>
