<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <form id="userName"
  <h2>Sign Up and Make a Team</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create an Account</h5>
        <input type="text" class="pr-3"  name="_id">
        <button id="create" class="btn btn-primary ml-2">Create Your Account and Team</button>
      </div>
    </form>
    <script>
        $('#userName"').on('click', function(event){
          event.preventDefault();
          const form = $(this);
          $.ajax({method: 'post', url: '/teams', data: form.serialize()})
            .done(() => window.location.replace('/newTeam'))
            .fail(error => alert(error.responseText));
        });
      </script>
    </body>
</html>
