<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
  <h2>Sign Up</h2>
  <form id="userName">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create an Account</h5>
        <input type="text" class="pr-3" name="_id">
        <button id="create" class="btn btn-primary ml-2">Sign in</button>
      </div>
    </form>
    <script>
        $('#userName').on('submit', function(event){
          event.preventDefault();
          const form = $(this);
          $.ajax({method: 'post', url: '/signup', data: form.serialize()})
            .done(() => window.location.replace('/newTeam'))
            .fail(error => alert(error.responseText));
        });
      </script>
    </body>
    <%_ } -%> <!-- for login.ejs -->
</html>
