<!DOCTYPE html
#submit2
const qtotal = $('#qbT1').val().toInteger + int($('#qbT2').val());
const rtotal = $('#rbT1').val() + $('#rbT2').val();
const wrtotal = $('#wrT1').val() + $('#wrT2').val();
const tetotal = $('#teT1').val() + $('#teT2').val();
const total = qtotal + rtotal + wrtotal + tetotal;>
<html>
  <%- include('./header'); -%>
  <%- include('./navs'); -%>
  <%_ if (!user) { -%>
    <%- include('./login'); -%>
  <%_ } else { -%>
    <body>
          <h2 id="title">Your Team</h2>
          <h5 id="instructions" class= "mt-4">Welcome to the your team page! Enter your team name below to view and update your team's score.</p>
          <input type="text" id="team">
          <button id="submit">Go</button>
          <form id="fm">
            <h3 id="lastScore">Your Previous Score: </h3>
            <h3 id="newScore" class="mt-4">Enter Your Players' Stats From This Week to Get Updated Team Score: </h3>
            <h4 id="qbLabel" class="mt-4">QB Stats:</h4>
            <h5 id="qbYdsL" class="ml-4"> Passing Yards: </h5>
            <input type="text" id="qbT1" class="ml-4">
            <h5 id="qbTdsL" class="ml-4 mt-2"> Passing TDs: </h5>
            <input type="text" id="qbT2" class="ml-4">
            <h4 id="rbLabel" class="mt-3">RB Stats:</h4>
            <h5 id="rbYdsL" class="ml-4"> Rushing Yards: </h5>
            <input type="text" id="rbT1" class="ml-4">
            <h5 id="rbTdsL" class="ml-4 mt-2"> Rushing TDs: </h5>
            <input type="text" id="rbT2" class="ml-4">
            <h4 id="wrLabel" class="mt-3">WR Stats:</h4>
            <h5 id="wrYdsL" class="ml-4"> Receiving Yards: </h5>
            <input type="text" id="wrT1" class="ml-4">
            <h5 id="wrTdsL" class="ml-4 mt-2"> Recieving TDs: </h5>
            <input type="text" id="wrT2" class="ml-4">
            <h4 id="teLabel" class="mt-3">TE Stats:</h4>
            <h5 id="teYdsL" class="ml-4"> Receiving Yards: </h5>
            <input type="text" id="teT1" class="ml-4">
            <h5 id="teTdsL" class="ml-4 mt-2"> Receiving TDs: </h5>
            <input type="text" id="teT2" class="ml-4">
            <h5 id="filler">________________________</h5>
            <button id="submit2" class="mt-2">Submit Stats</button>
          </form>
            <%_ } -%> <!-- for login.ejs -->
            <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous">
            </script>
            <script>
              $('.active').removeClass('active');
              $('#myTeam').addClass('active');

            </script>
            <script>
              $('#fm').hide();


              $('#submit').on('click', function(event) {
                event.preventDefault();
                $('#title').remove();
                $('#instructions').remove();
                $('#text').remove();
                $('#submit').remove();
                $('#fm').show();
          
              });
              </script>
              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script>
              $('#submit2').on('click', function(event){
                event.preventDefault();
                const form = $(this);
                // Translate each input value into a list item
                const inputs = form.find('input'); // JQuery object represent all inputs
                for (let input of inputs) {
                  input = $(input); // Turn into a JQuery object
                  const li = $(`<li>${input.val()}</li>`); // New list item
                  list.append(li);
                  input.val(''); // Empty out the box
                }
                //$.ajax({method: 'post', url: '/teams/score', data: `score=${qtotal}`})
                  //.done(console.log(total.val()))
                  //.fail(console.log(error.responseText));
              });

            </script>
        </div>
      </div>
    </body>
</html>
